*{
    margin: 0;
}

/* VARIABLES */
$colorFondosArribaAbajo: (0deg, rgb(41, 39, 39), rgb(116, 114, 114));
$colorTitulos: black;
$bordeBarrios: solid white;
$anchoBarrios: 70%;
$altoBarrios: 90%;

/* MIXINS */
@mixin textos($colorTexto , $tamanioTexto , $margenTop){

    color: $colorTexto;
    margin-top: $margenTop;
    font-style: normal;
    font-size: $tamanioTexto;
    font-family: 'Hind', sans-serif;
    text-align: center;
}

/* ESTILO DE HEADER */
header{
    background-image: linear-gradient($colorFondosArribaAbajo);

    .cajaArriba{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .logoEncabezado{
        height: 15%;
        width: 15%;
    }
    
    .linkLogo{
        text-decoration: none;
        color: black;
        font-style: normal;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        display: flex;
        text-align: center;
        justify-content: center;
    }

    .listaNav{
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        text-decoration: none;
        margin: 0;
        font-style: normal;
        font-family: 'Ubuntu', sans-serif;
        font-size: 16px;
        line-height: 1.15;
    }
    
    ul{
        list-style-type: none;
    }

    li{
        margin-left: 10px;
        margin-right: 10px;
    }

    a{
        text-decoration: none;
        color: white;
        font-style: normal;
        font-family: 'Ubuntu', sans-serif;
        font-size: 1vw;
        
    }
    
}
/* ESTILO DE MAIN */
main{
    background-color: rgb(46, 46, 46);

    height: 100%;

    /* TITULOS */
    .titulos{
        font-style: normal;
        font-size: 2vw;
        text-align: center;
        color: $colorTitulos;
        font-family: 'Hind', sans-serif;
        padding-top: 10px;
    }
    
    h2{
        font-style: initial;
        font-size: 1.7vw;
        font-family: 'Hind', sans-serif;
        text-align: center;
        
    }

    /* INDEX */
    .grillaIndex{
        padding-top: 50px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 300px 300px;
        grid-template-areas: area1 area2
                             area3 area4;
        .indexFrase{
            font-style: normal;
            font-size: 2vw;
            text-align: center;
            color: $colorTitulos;
            font-family: 'Hind', sans-serif;
            padding-top: 10px;
        }
        .indexAmericana{
            width: 80%;
            height: 100%;
        }
        .indexCheese{
            width: 80%;
            height: 100%;
        }
        justify-items: center;
        align-items: center;
    }
    /* HAMBURGUESAS */
    #carouselExampleCaptions{
        margin-left: 20%;
        margin-right: 20%;
    }
    .nombresBurger{
        font-style: initial;
        font-size: 1.7vw;
        font-family: 'Hind', sans-serif;
        text-align: center;
    }
    /* ZONAS DE REPARTO */
    .grillaBarrios{
        margin-top: 20px;
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        grid-template-rows: 500px 500px;
        grid-template-areas: "area1 area2 area3"
                            "area4 area5 area6";
        .barrioAguada{
            grid-area: area1;
            width: $anchoBarrios;
            height: $altoBarrios;
            img{
                border: $bordeBarrios;
            }
        }
        .barrioCentro{
            grid-area: area2;
            width: $anchoBarrios;
            height: $altoBarrios;
            img{
                border: $bordeBarrios;
            }
        }
        .barrioCordon{
            grid-area: area3;
            width: $anchoBarrios;
            height: $altoBarrios;
            img{
                border: $bordeBarrios;
            }
        }
        .barrioGoes{
            grid-area: area4;
            width: $anchoBarrios;
            height: $altoBarrios;
            img{
                border: $bordeBarrios;
            }
        }
        .barrioTresCruces{
            grid-area: area5;
            width: $anchoBarrios;
            height: $altoBarrios;
            img{
                border: $bordeBarrios;
            }
        }
        .barrioReducto{
            grid-area: area6;
            width: $anchoBarrios;
            height: $altoBarrios;
            img{
                border: $bordeBarrios;
            }
        }
        justify-items: center;
        align-items: center;
    }
    /* SOBRE NOSOTROS */
    .cajaNosotrosUno{
        display: block;
        height: 100px;
        margin: 50px;
        margin-left: 150px;
        margin-right: 150px;
        .cajaTituloN{
            .tituloNosotros{
                @include textos(rgb(180, 180, 180), 1.8vw, 10px )
            }
        }
        .cajaTextoN{
            .textoInfo{
                @include textos(rgb(150, 150, 150), 1.5vw , 20px )
            }
        }
        
    }
    .cajaNosotrosDos{
        display: block;
        height: 100px;
        padding-bottom: 100px;
        margin-left: 150px;
        margin-right: 150px;
        .cajaTituloNDos{
            .tituloNosotros{
                @include textos(rgb(180, 180, 180), 1.8vw , 10px)
            }
        }
        .cajaTextoNDos{
            .textoInfo{
                @include textos(rgb(150, 150, 150), 1.5vw , 20px)
            }
        }
    }
        

    /* CONTACTO */ 
    .grillaContacto{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 40% 20% 40%;
        grid-template-rows: 200px 200px;
        grid-template-areas: "area1 area2 area3"
                            "area1 . area3";
        justify-items: center;

        .cajaContacto{
            grid-area: area2;
        }
        
        .cajaContactoUno{
            grid-area: area1;
            background-color: rgb(105, 110, 115);
            border: solid rgb(0, 0, 0);
            width: 80%;
            height: 80%;
    
            .textoContacto{
                font-style: normal;
                font-size: 1.5vw;
                font-family: 'Ubuntu', sans-serif;
                text-align: center;
                margin-top: 50px;
            }
            .tituloVias{
                font-style: initial;
                font-size: 1.6vw;
                font-family: 'Hind', sans-serif;
                text-align: center;
                margin-top: 50px;
            }
        }
        
        .cajaContactoDos{
            grid-area: area3;
            background-color: rgb(105, 110, 115);
            border: solid rgb(0, 0, 0);
            width: 80%;
            height: 80%;
    
            .textoContacto{
                font-style: normal;
                font-size: 1.5vw;
                font-family: 'Ubuntu', sans-serif;
                text-align: center;
                margin-top: 50px;
            
            }
            .tituloVias{
                font-style: initial;
                font-size: 1.6vw;
                font-family: 'Hind', sans-serif;
                text-align: center;
                margin-top: 50px;
            }
        }
    
    }
}

/* ESTILO DE FOOTER */
footer{
    background-image: linear-gradient($colorFondosArribaAbajo);

    height: 100px;

    .logosFooter{
        display: flex;
        height: 50%;
        width: 5%;
    }
 
}

